@charset utf-8;
#strategy_wrapper{
	width:100%;
	min-width:1100px;
	padding-bottom:100px;
}

#strategy_wrapper .top_w{
	width:100%;
	min-width:1100px;
	height:55px;
	background:#fff;
}

#strategy_wrapper .top_w .top{
	width:1100px;
	height:55px;
	margin:0 auto;
}
#strategy_wrapper .wrapper_container{
	margin: 0 auto;
	width:100%;min-width:1100px;height:auto;
}
#strategy_banner_wrapper{width:100%;min-width:1100px;margin-bottom:100px;}
#strategy_banner{width:1100px;margin:0 auto;}


#strategy_wrapper_tab,
#strategy_wrapper_aside{
	float:left;min-height:100px;
	box-sizing:border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
}

#strategy_wrapper_tab {width:825px;}
#strategy_wrapper_aside {width:275px;padding-top:32px;}


/* 选项卡切换 */
#tab-list {margin:0;padding:0;list-style-type: none;height:32px;}
#tab-list li{float:left;text-align: center;width:120px;font-size:16px;cursor:pointer;height:32px;line-height: 32px;font-family: "Microsoft Yahei";}
#tab-list li.active{background:#f1f1f1;font-weight: bold;}

#strategy_wrapper_tab .contents {
	width:98%;height:auto;min-height:100px;
	position: relative;margin-bottom:10px;
	box-sizing:border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
}

#strategy_wrapper_tab .contents ul.info-list{
	height:auto;width:100%;border:1px solid #f1f1f1;
}

#strategy_wrapper_tab .contents ul.info-list li.info-list-item{
	height:276px;width:100%;border-bottom:1px solid #f1f1f1;
}
#strategy_wrapper_tab .contents ul.info-list li.info-list-item:last-child{border-bottom:0;}

.info-list-item .detail {
	width:96%;padding:2%;
}
.info-list-item .detail .detail-header{
	width:100%;height:32px;line-height: 32px;
}

.info-list-item .detail .detail-header .detail-title{font-weight: bold;font-family: "Microsoft Yahei";font-size:16px;}
.info-list-item .detail .detail-header .detail-date{float:right;margin-right:10px;font-size:13px;}
.info-list-item .detail .detail-body .detail-desc{font-size:13px;margin-bottom:10px;}
.info-list-item .detail .detail-body ul.detail-imglist{width:100%;display: table-row;}
.info-list-item .detail .detail-body ul.detail-imglist li.detail-imglist-item{
	width:200px;padding:5px;height:155px;float:left;
	text-align: left;display: table-cell;vertical-align: bottom;
	box-sizing:border-box;
	-ms-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	-moz-box-sizing:border-box;
	-o-box-sizing:border-box;
}

.info-list-item .detail .detail-body ul.detail-imglist li.detail-imglist-item img{
	max-width:190px;height:140px;cursor: pointer;
}
.info-list-item .detail .detail-body ul.detail-imglist li.detail-imglist-item img:hover{
	opacity: 0.9;filter:alpha(opacity:90);
}

.page{ text-align: center;line-height:25px; font-family:"Microsoft YaHei"; width:auto; max-width:1210px; margin:0 auto}
.page a,.page strong {display: inline-block;
border: 1px solid #fff;
color: #505050;
padding: 0px 8px;
vertical-align: middle;
margin-left: 3px;box-shadow:0px 0px 2px rgba(0,0,0,.5); border-radius:2px}
.page a:hover, .page a.current, .page strong {
color: white!important;
text-decoration: none;
background:#ed5a6b;
border: 1px solid #ed5a6b;
}
.page input{ height:15px;}.page em{ margin:0 5px}
.page .pageheader{font-size: 14px; margin-left: 5px;}
.page .pageInput{height: auto;border: 1px solid #CCC; color: #888; padding:5px; border-radius: 2px;box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);}


/* 登陆框 */
.rtel{ float:right; width:240px; background:#fff; height:240px; padding:10px; border-top:2px solid #ed5a6b; text-align:center; font-family:"Microsoft YaHei"; padding-top:20px}
.rtel h1{  font-size:18px; line-height:25px; color:#3c3c3c; font-weight: bold}
.rtel h2{ font-size:14px; line-height:25px; color:#888; }
.rtel .int{ margin-top:10px; overflow:hidden; width:240px; height:32px}
.rtel .int input{ width:218px; border:1px solid #ccc; height:30px; line-height:30px\0; *line-height:30px;text-align:left; display:block; padding:0 5px; height:29px\9;width:228px\9; color: #666;}
.rtel .int a{ display:block; width:228px; line-height:30px; color:#fff; background:#ed5a6b; border:1px solid #ff5868; font-size:14px}
.rtel .int a:hover{ text-decoration:none; color:#fff; background:#de4348}
.rtel .declare{font-family: "仿宋";text-align: left;font-size:14px;margin:5px 0 5px 0;}
.rtel .declare span.danger{color:#f40;}

/* 推广幻灯 */
.wenzrmain{ border:1px solid #eee; width:258px}
.wenzrmain .wenzhot li a{ width:238px; height:150px; display:block; overflow:hidden; padding:10px; position:relative}.wenzhot li a img{ width:100%; height:100%}.wenzrmain .wenzhot li a span{ display:block; position:absolute; height:25px; background:rgba(0,0,0,.6); color:#fff; line-height:25px; bottom:10px; width:238px; text-align:center; overflow:hidden}
.wenzbanner{width:930px; margin-bottom:10px}
.wenzrtitle{text-align:center;height:30px; line-height:30px; padding:0 10px; font-size:15px; font-weight:normal; background:#f1f1f1}
.wenz{ border:1px solid #eee; padding:20px; margin-top:20px}
.wenz dt h1{ font-weight:100; line-height:60px; font-size:2.2em}
.wenz dt .fenx{ height:30px; line-height:30px; border-bottom:1px dashed #eee; margin-bottom:20px}.wenz dt .fenx .fx{ float:right; width:200px}
.wenz dt .fenx .laiy{ float:left; color:#888}
.wenz dd{ line-height:30px; font-size:16px;/* text-indent:32px*/}

.wenz dd  img{ margin:10px auto; display:block; max-width:800px}
